# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/
.factorypath
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env / secretos
.env
.env.*
!.env.example
!env.example
env.dev

# Node (frontend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Spring Boot
out/
*.original
